<!DOCTYPE html>
<html lang="en">
<head>shellmaker.io</head>
<body>
	<h1 class="text-center title-1"> <%= title %> </h1>
	<form action="/cadastro" method="post">
		Nome:<input type="text" name="nome" /><br />
		Email:<input type="text" name="email" /><br />
		Git:<input type="text" name="git" /><br />
		<input type="submit" value="Salvar" />
	</form>
</body>
</html>
